@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: black;
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: grey;
}

a {
   text-decoration: none; 
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }  
}

.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid beige;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: gray;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: whitesmoke;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: black;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: black;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
}

.hero-name span {
    color: rgb(234, 149, 234);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

#services {
    background-color: ghostwhite;
    padding: 0.6rem 0 1,4rem;
}

.services .pre-title {
    margin: 0 auto;
    text-align: center;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background: ghostwhite;
    border-radius: 0.4px;
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: lavenderblush;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: plum;
}

#portfolios {
    padding: 0.6rem 0 1.4rem;
}

.portfolio {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid gainsboro;
}

.portfolio-cover {
    height: 250px;

}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info{
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio-title a svg:hover {
    fill: lavender;
}

.portfolio-title a svg {
    transition: 0.2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid gray;
    padding: 0.4rem 1rem;
    color: rgb(2, 11, 11);
}

#skills {
    padding: 0.6rem 0 1.4rem;
    background: ghostwhite;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: grey;
    position: relative;
}

.education-info p {
    margin: 0.6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

#contact {
    padding: 6rem 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: whitesmoke;
    border: 1px solid grey;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: black;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid whitesmoke;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: plum;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: palevioletred;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: lavenderblush;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: plum;
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;
}

footer {
    padding: 4rem 0;
    background: white;
    text-align: center;
}

.footer-icon {
   margin-bottom: 1rem; 
}

.footer-icon a {
    margin: 0.5rem;
}

.footer-icon svg {
    fill: #3a3a3a;
}

.footer-icon a :hover svg {
    fill: black;
}
